# Java / Maven
target/
*.jar
*.war

# IntelliJ
.idea/
*.iml

# Logs
*.log

# Env files
.env
.mysqlenv

# React
src/main/webapp/reactjs/node_modules/
src/main/webapp/reactjs/build/
src/main/webapp/reactjs/.cache/


# OS
.DS_Store
Thumbs.db